<h1> Add- Only Admin DB details </h1>

<a class="btn btn-success" asp-area="" asp-controller="Students" asp-action="AddCource">Add Course</a>
<br /> 
<a class="btn btn-success mt-2" asp-area="" asp-controller="Home" asp-action="NoticeBoard">Add Notice</a>
<br />
<h1>-------------------</h1>
<a class="btn btn-success mt-2" asp-area="" asp-controller="Students" asp-action="AddCity">Add City</a>
<a class="btn btn-success mt-2" asp-area="" asp-controller="Students" asp-action="AddState">Add State</a>
<a class="btn btn-success mt-2" asp-area="" asp-controller="Students" asp-action="AddCountry">Add Country</a>

