<h1> Add details </h1>

<a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="AddCource">Add Course</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="AddCity">Add City</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="AddState">Add State</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Students" asp-action="AddCountry">Add Country</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="NoticeBoard">Add Notice</a>
